<div>
  <div class="side-right-top">
    <ul class="breadcrumb">
      <li>
        <a>Dashboard</a>
      </li>
      <li>
        <a>Employee</a>
      </li>
      <li>
        <a>{{isEmployeeEdit?'Edit Employee':'Add Employee'}}</a>
      </li>
    </ul>
    <div class="society-header">
      <div class="title">
        {{isEmployeeEdit?'Edit Employee':'Add Employee'}}
      </div>
    </div>
  </div>
  <div class="form-container">
    <div class="header">
      {{isEmployeeEdit?'Edit Employee':'Add Employee'}}
    </div>
    <div class="input-continer">
      <!-- <form>
        <div class="row">
          <div class="col-md-6 field">
            <input class="itext-maid" type="text" name="fullname" id="fullname" placeholder="Jane Appleseed">
            <label for="fullname">Name</label>
          </div>

          <div class="col-md-6 field">
            <input class="itext-maid" type="email" name="email" id="email" placeholder="jane.appleseed@example.com">
            <label for="email">Email</label>
          </div>
        </div>
      </form> -->
      <form [formGroup]="employeeFormGroup">
        <div class="form-group row">
          <div class="col-md-12">
            <img [src]="imagePath" class="upload-image" src="" id="emp_img" />
            <input style="display:none" (change)="handleFileInput($event.target.files)" id="emp_img_input" type="file" class="button button-cancel button-upload">
            <label class="button button-cancel button-upload" for="emp_img_input">Choose File</label>
          </div>
          <div class="col-md-6">
            <input formControlName="name" placeholder="Full Name" class="itext-maid form-control" id="ex1" type="text">
          </div>
          <div class="col-md-6">
            <input formControlName="land_lord_address" placeholder="Landlord Address" class="form-control itext-maid" id="ex2" type="text">
          </div>
          <div class="col-md-6">
            <input formControlName="age" placeholder="Age" class="form-control itext-maid" id="ex3" type="text">
          </div>
          <div class="col-md-6">
            <input formControlName="land_lord_no" placeholder="Landlord Number" class="form-control itext-maid" id="ex3" type="text">
          </div>
          <div class="col-md-6">
            <input formControlName="mobile" placeholder="Mobile Number" class="form-control itext-maid" id="ex3" type="text">
          </div>
          <div class="col-md-6">
            <input formControlName="emergency_no" placeholder="Emergency Contact Details" class="form-control itext-maid" id="ex3" type="text">
          </div>
          <div class="col-md-6">
            <input formControlName="adhaar_no" placeholder="Aadhar Number" class="form-control itext-maid" id="ex3" type="text">
          </div>
          <div class="col-md-6">
            <input formControlName="permanent_address" placeholder="Permanent Address" class="form-control itext-maid" id="ex3" type="text">
          </div>
          <div class="col-md-6">
            <input formControlName="current_address" placeholder="Currenct Address" class="form-control itext-maid" id="ex3" type="text">
          </div>
          <div class="col-md-6">
            <input formControlName="family_member_no" placeholder="Family Member Contact" class="form-control itext-maid" id="ex3" type="text">
          </div>
          <div class="col-md-6">
            <input formControlName="police_verify" placeholder="Police Verification" class="form-control itext-maid" id="ex3" type="text">
          </div>
          <div class="col-md-6">

          </div>
          <div class="col-md-6">
            <select formControlName="service_name" class="form-control" placeholder="Select Service">
              <option *ngFor="let service of services" [value]="service.value">{{service.name}}</option>
            </select>
          </div>
          <div class="col-md-6">
          
          </div>
          <ng-container *ngIf="employeeFormGroup.controls.service_name.value!=''">
            <div class="col-md-12 label-heading">
              Employee Type
            </div>
            <div class="col-md-6">
              <input (select)="changeJobType($event)" type="radio" formControlName="timing" value="24"> 24 Hours
              <input (select)="changeJobType()" type="radio" formControlName="timing" value="12"> 12 Hours
              <input (select)="changeJobType()" type="radio" formControlName="timing" value="part"> Part Time
            </div>

            <ng-container *ngIf="employeeFormGroup.controls.timing.value=='part'">
              <div class="col-md-12 label-heading">
                Work Location
              </div>
              <ng-container formArrayName="job_location" *ngFor="let item of employeeFormGroup.get('job_location').controls; let i = index;">
                <ng-container [formGroupName]="i">
                  <div class="col-md-4">
                    <input formControlName="socity_id" placeholder="Society Name" class="form-control itext-maid" id="ex3" type="text">
                  </div>
                  <div class="col-md-4">
                    <input formControlName="tower_no" placeholder="Tower Number" class="form-control itext-maid" id="ex3" type="text">
                  </div>
                  <div class="col-md-4">
                    <input formControlName="flat_no" placeholder="Flat Number" class="form-control itext-maid" id="ex3" type="text">
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
        <div style="float:right">
          <button class="button button-cancel">
            Cancel</button>
          <button (click)="addEditEmployee()" class="button button-add">
            {{isEmployeeEdit?'Save':'Add Employee'}}</button>
        </div>
      </form>
    </div>
  </div>
</div>