.society-header
{
padding:5px 0px;
overflow: hidden;

}
.society-header .title
{
font-family: pop-regular;
font-size:30px;
float: left;
}
.society-header .right
{
font-family: pop-regular;
float: right;
}

.upload-image
{
    width:173px;
    height:173px;
    margin-bottom: 20px;
}
.button-upload
{
    margin:20px;
}

.label-heading
{
    font-size:15px;
    color:#333333;
    margin: 10px 0px; 
}

