<div>
  <div class="side-right-top">
    <ul class="breadcrumb">
      <li>
        <a>Dashboard</a>
      </li>
      <li>
        <a>Society</a>
      </li>
    </ul>
    <div class="society-header">
      <div class="title">
        Society
      </div>
      <div class="right">
        <input [(ngModel)]="searchText" (keydown)="searchSociety($event)"  placeholder="Search..." class="search-text" type="text" />
        <select [(ngModel)]="searchBy" class="dropdown-maid">
          <option selected value="name">Name</option>         
        </select>
        <button class="button button-upload">
          <img class="icon-img" src="../../../assets/img/upload.svg" /> Upload Excel File</button>
        <button [routerLink]="['/dashboard/society/add-society']" routerLinkActive="router-link-active" class="button button-add">
          <img class="icon-img" src="../../../assets/img/add.svg" /> Add Society</button>
      </div>
    </div>
  </div>
  <div class="table-container">
    <table class="maid-table">
      <tr>
        <th>Id</th>
        <th>Society Name</th>
        <th>Sector/Area</th>
        <th>City</th>
        <th>State</th>
        <th>Pincode</th>
        <th>No of Towers</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let item of societyList">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.area}}</td>
        <td>{{item.city}}</td>
        <td>{{item.state}}</td>
        <td>{{item.pincode}}</td>
        <td>{{item.total_towers}}</td>
        <td>
          <i class="fa fa-trash icon-delete" aria-hidden="true"></i>
          <i [routerLink]="['/dashboard/society/edit-society/'+item.id]" class="fa fa-edit icon-edit" aria-hidden="true"></i>
        </td>
      </tr>
    </table>
  </div>
</div>