<div>
  <div class="side-right-top">
    <ul class="breadcrumb">
      <li>
        <a>Dashboard</a>
      </li>
      <li>
        <a>Employee</a>
      </li>
    </ul>
    <div class="society-header">
      <div class="title">
        Employee
      </div>
      <div class="right">
        <input [(ngModel)]="searchText" (keydown)="searchEmployee($event)" placeholder="Search..." class="search-text" type="text" />
        <select [(ngModel)]="searchBy" class="dropdown-maid">
          <option selected value="name">Name</option>         
        </select>
        <button class="button button-add">
          <img class="icon-img" src="../../../assets/img/filter.svg" /> Filter</button>
        <button class="button button-upload">
          <img class="icon-img" src="../../../assets/img/upload.svg" /> Upload Excel File</button>
        <button [routerLink]="['/dashboard/employee/add']" routerLinkActive="router-link-active"  class="button button-filter">
          <img class="icon-img" src="../../../assets/img/add.svg" /> Add Employee</button>
      </div>
    </div>
  </div>
  <div class="table-container">
    <table class="maid-table">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Current Address</th>
        <th>Aadhar no</th>
        <th>Police Verification</th>
        <th>Service Provide</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let list of employeeList">
        <td>{{list.id}}</td>
        <td>{{list.name}}</td>
        <td>{{list.age}}</td>
        <td>{{list.current_address}}</td>
        <td>{{list.adhaar_no}}</td>
        <td>{{list.police_verify}}</td>
        <td>{{list.service_name}}</td>
        <td>{{list.timing}}</td>
        <td>
          <i (click)="deleteEmplyee(list)" class="fa fa-trash icon-delete" aria-hidden="true"></i>
          <i [routerLink]="['/dashboard/employee/edit/'+list.id]" class="fa fa-edit icon-edit" aria-hidden="true"></i>
        </td>
      </tr>
    </table>
  </div>
</div>