.society-header
{
padding:5px 0px;
overflow: hidden;

}
.society-header .title
{
font-family: pop-regular;
font-size:30px;
float: left;
}
.society-header .right
{
font-family: pop-regular;
float: right;
}
