<div>
    <div class="side-right-top">
      <ul class="breadcrumb">
        <li>
          <a >Dashboard</a>
        </li>
        <li>
          <a >Society</a>
        </li>
        <li>
          <a >Edit Society</a>
        </li>
      </ul>
      <div class="society-header">
        <div class="title">
          Edit Society
        </div>
      </div>
    </div>
    <div class="form-container">
      <div class="header">
        Edit Society
      </div>
      <div class="input-continer">
        <div class="form-group row">
          <div class="col-md-6">
            <input placeholder="Society Name" class="itext-maid form-control" id="ex1" type="text">
          </div>
          <div class="col-md-6">
            <input placeholder="Society Area" class="form-control itext-maid" id="ex2" type="text">
          </div>
          <div class="col-md-6">
            <input placeholder="City" class="form-control itext-maid" id="ex3" type="text">
          </div>
          <div class="col-md-6">
            <input placeholder="state" class="form-control itext-maid" id="ex3" type="text">
          </div>
          <div class="col-md-6">
            <input placeholder="Pincode" class="form-control itext-maid" id="ex3" type="text">
          </div>
          <div class="col-md-6">
            <input placeholder="No of Tower" class="form-control itext-maid" id="ex3" type="text">
          </div>
        </div>
        <div style="float:right">
          <button class="button button-cancel">
            Cancel</button>
            <button class="button button-add">
                Save</button>
        </div>
      </div>
    </div>
  </div>