.login-container
{
   border:50px solid #ff6f33;
   /* border-width:50px; 
   border-image:linear-gradient(343deg, #ff4c01, #ff6f33);     */
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: pop-regular;
}
.form-logincontainer
{
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    /* padding: 100px; */
    text-align: center;
}

.main-img
{
    width:230px;
    height: 150px;
}
.sign-text
{
font-size: 28px;
color:#263238;
margin: 20px 0px;
}

.logo-text
{
    font-size: 16.5px;
    color:rgba(38, 50, 56, 0.6)    ;
    margin: 10px 0px 20px 0px;   


}

.fgt-pwd
{
    margin-top: 20px;
    color:rgba(38, 50, 56, 0.8);
    font-size: 16px;
}
.reset
{
    color:#ff6f33;
}
.sign-btn
{
    width: 100%;
    border: none;
    padding: 5px;
    font-size:15px;
    background-color:#ff6f33;
    color:rgba(255, 255, 255, 0.9);
}

.err-msg
{
    color:black;
}