<div class="login-container">
  <div class="form-logincontainer">
    <img class="main-img" src="../../../assets/img/layer.jpg" />
    <div class="sign-text">
      SIGN IN
    </div>
    <div class="logo-text">
      Hello There! Sign in to start managing your Maidsn Cars
    </div>
    <div class="form-group row">
      <form [formGroup]="loginForm">
        <div class="col-md-12">
          <input formControlName="email" placeholder="Email" class="itext-maid form-control" id="ex1" type="text">
        </div>
        <div class="col-md-12">
          <input formControlName="password" placeholder="Password" class="form-control itext-maid" id="ex2" type="text">
        </div>
        <div class="col-md-12 err-msg" *ngIf="isError">
          Please provide valid email or password.
        </div>
        <div class="col-md-12">
          <button (click)="getLogin()" [disabled]="loginForm.invalid" class=" sign-btn">SIGN IN
            <img class="icon-img" src="../../../assets/img/sidn-icon.svg" />
          </button>
        </div>
      </form>
    </div>
    <div class="fgt-pwd">Forgot password?
      <span class="reset">Reset</span>
    </div>
  </div>
</div>