<div>
  <div class="side-right-top">
    <ul class="breadcrumb">
      <li>
        <a>Dashboard</a>
      </li>
      <li>
        <a>Residents</a>
      </li>
    </ul>
    <div class="society-header">
      <div class="title">
        Residents
      </div>
      <div class="right">
        <input placeholder="Search..." class="search-text" type="text" />
        <select class="dropdown-maid">
          <option selected value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
        <button class="button button-filter">
          <img class="icon-img" src="../../../assets/img/filter.svg" /> Filter</button>
      </div>
    </div>
  </div>
  <div class="table-container">
    <table class="maid-table">
      <tr>
        <th>id</th>
        <th>full name</th>
        <th>mobile number</th>
        <th>total family member</th>
        <th>tower</th>
        <th>flat no</th>
        <th>flat type</th>
        <th>type</th>
        <th>aggrement date</th>
        <th>owner name</th>
        <th>owner number</th>
        <!-- <th>id proof</th> -->
      </tr>
      <tr *ngFor="let item of resisdentList">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.mobile}}</td>
        <td>{{item.kids+item.infant+item.adults}}</td>
        <td>{{item.tower}}</td>
        <td>{{item.flat_no}}</td>
        <td>{{item.flat_type}}</td>
        <td>{{item.residents_type}}</td>      
        <td>{{item.agreement_start_date?item.agreement_start_date+' to ':item.agreement_start_date}}{{item.agreement_end_date}}</td>       
        <td>{{item.owner_name}}</td>
        <td>{{item.owner_number}}</td>
        <!-- <td>{{item.}}}</td> -->
      </tr>     
    </table>
  </div>
</div>