* {box-sizing: border-box;}

body { 
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}

html { 
  
    height: 100%;
  }

@font-face {
    font-family: pop-medium;
    src: url('./assets/fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: pop-regular;
    src: url('./assets/fonts/Poppins-Regular.ttf');
}

.side-right-top
{
    background-color: #ffffff;
    padding: 20px;
}

.main-content
{
    margin-left:200px;
     /* padding:20px; */
}

ul.breadcrumb {
    /* padding: 10px 16px; */
    list-style: none;
    font-family: pop-regular;   
    display: inline;
    padding:0px;
}
ul.breadcrumb li {
    display: inline;
    font-size: 16px;
}
ul.breadcrumb li+li:before {
     padding: 4px;
    color: black;
    content: "/\00a0";}
ul.breadcrumb li a {
    color: #263238;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #949494;
    text-decoration: underline;
}


.search-text
{
     width:150px !important;
    padding: 5px;
    font-family: pop-regular;
    border: none;
    box-shadow: 0px 2px  #9a9a9a;
    background-color: white;
    outline: none   
}

.dropdown-maid
{
    width:250x;
    padding: 5px;
    font-family: pop-regular;
    border: none;
    box-shadow: 0px 2px  #9a9a9a;
    background-color: white;
    outline: none;
}

.button
{
    outline: none;
    border: none;  
    padding: 10px 20px;
    font-family: pop-regular;  
    border-radius: 20px;
    color:#ffffff;
}
.button-upload
{
    background-color: #04b0f7;
}

.button-add
{
    background-color: #03a456;
}

.button-filter
{
    background-color: #f79e04 ;
}

.button-cancel
{
    background-color:#ffffff  ;
    color:#a6a5a5;
    border:1px solid #a6a5a5;
}

.icon-delete
{
    padding: 5px 8px;
    background-color: #ff0000;
    border-radius: 50%;
    color: white;
    /* margin: 0px 5px; */
}
.icon-edit
{
    padding: 5px 5px;
    background-color: #f88a03;
    border-radius: 50%;
    color: white;
    /* margin: 0px 5px; */
}

.maid-table {
    border-collapse: collapse;
    width: 100%;
    font-family: pop-regular;
    border-radius: 0.2em;
    overflow: hidden;
}

.maid-table td {
    text-align: left;
    padding: 8px;
    font-size: 15px;
    color:rgba(38, 50, 56, 0.8);
    border-bottom: 1px solid #d5d5d5;
    padding: 15px;
}
.maid-table th {
    padding: 15px;
    text-align: left;
    background-color: #141d26;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    
}

.table-container
{
   
    padding:20px;
}

.icon-img
{
    margin: 0px 8px;
    vertical-align: middle;
}

.form-container
{
  background-color: #fafafa;
  padding: 20px;
}

.form-container .header
{
    font-family: pop-regular;
    font-size: 19px;
    background-color: #ffede5;
    padding:29px 23px 28px;
    border-bottom: solid 3px #ff7338;
}

.form-container .input-continer
{
    padding:30px;
    background-color: #ffffff;
    margin-bottom: 100px;
}

.itext-maid
{
    border: none !important;
    border-bottom: 2px solid #d5d5d5 !important; 
    margin-bottom: 20px;
    outline: none !important;
    border-radius: 20px;
    font-family: pop-regular;
    color: rgba(51, 51, 51, 0.8) !important;
    font-size: 15px !important;
  
}

