<div>
  <div class="side-right-top">
    <ul class="breadcrumb">
      <li>
        <a>Dashboard</a>
      </li>
      <li>
        <a>Society</a>
      </li>
      <li>
        <a>{{isSocietyAdd?'Add Society':'Edit Society'}}</a>
      </li>
    </ul>
    <div class="society-header">
      <div class="title">
        {{isSocietyAdd?'Add Society':'Edit Society'}}
      </div>
    </div>
  </div>
  <div class="form-container">
    <div class="header">
      {{isSocietyAdd?'Add Society':'Edit Society'}}
    </div>
    <div class="input-continer">
      <form [formGroup]="societyForm">
        <div class="form-group row">
          <div class="col-md-6">
            <input formControlName="name" placeholder="Society Name" class="itext-maid form-control" id="ex1" type="text">
          </div>
          <div class="col-md-6">
            <input formControlName="area" placeholder="Society Area" class="form-control itext-maid" id="ex2" type="text">
          </div>
          <div class="col-md-6">
            <input formControlName="city" placeholder="City" class="form-control itext-maid" id="ex3" type="text">
          </div>
          <div class="col-md-6">
            <input formControlName="state" placeholder="state" class="form-control itext-maid" id="ex3" type="text">
          </div>
          <div class="col-md-6">
            <input formControlName="pincode" placeholder="Pincode" class="form-control itext-maid" id="ex3" type="text">
          </div>
          <div class="col-md-6">
            <input formControlName="total_towers" placeholder="No of Tower" class="form-control itext-maid" id="ex3" type="text">
          </div>
        </div>
        <div style="float:right">
          <button class="button button-cancel">
            Cancel</button>
          <button (click)="addEditSociety()" [disabled]="societyForm.invalid" class="button button-add">
            {{isSocietyAdd?'Add Society':'Edit Society'}}</button>
        </div>
      </form>
    </div>
  </div>
</div>