<div class="header app-title">
  <div class="header-left">
    <img class="app-image" src="../../../assets/img/app.png" />
    <span class="title-text">Maid & Car Management</span>
  </div>
  <div class="header-right">
    <!-- <!-- <img class="app-image" src="../../../assets/img/notification.jpg" /> -->
    <!-- <img class="user-image" src="../../../assets/img/app.png" />  -->
    <span class="user-name">Parmod Dudeja</span>
  </div>
</div>
<!-- <div  class="container-maid">
  <div class="sidebar">
    <a [routerLink]="['/dashboard/society']">
      <img src="../../../assets/img/forma-1.svg" />Society</a>
    <a [routerLink]="['/dashboard/resident']">
      <img src="../../../assets/img/resident-icon.svg" /> Resident</a>
    <a [routerLink]="['/dashboard/employee']">
      <img src="../../../assets/img/forma-1.svg" /> Employee</a>
  </div>
  <div class="main-maid">
      <router-outlet>
      </router-outlet>
    </div> -->
<!-- </div> -->
<div class="container-maid">
  <div class="sidebar">
    <a [routerLink]="['/dashboard/society']">
      <img src="../../../assets/img/forma-1.svg" />Society</a>
    <a [routerLink]="['/dashboard/resident']">
      <img src="../../../assets/img/resident-icon.svg" /> Resident</a>
    <a [routerLink]="['/dashboard/employee']">
      <img src="../../../assets/img/forma-1.svg" /> Employee</a>
  </div>
  
  <div class="main-maid">
    <router-outlet>
    </router-outlet>
  </div>
</div>

