
.app-title
{
    font-family: pop-regular;
    color: #ffffff;
  
}

.app-image
{
    background-image: url('../../../assets/img/app.png');
    height:20px;
}

.title-text
{
    padding:0px 10px;
    font-size:24.5px
}

.user-image
{
    border-radius: 50%;
    padding:0px 10px;
}


.user-name
{
 
  font-family: pop-regular;
  font-size: 16px;
  /* font-weight: normal;
  font-style: normal;
  font-stretch: normal; */
 
  text-align: left;
  display: inline-block;
  color: rgba(255, 255, 255, 0.9);

}




.header {
  overflow: hidden;
  background-image: linear-gradient(to top, #ff4c01, #ff6f33);
    padding: 10px 20px;
}

.header-right {
  float: right;
}
.header-left { 
  float: left;
}

  .container-maid {
    min-height: 100%;
    /* height: 100%; */
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
  }
  
.sidebar {   
    width: 200px;
  -ms-flex: 0 100px;
  -webkit-box-flex:  0;
  -moz-box-flex:  0;
  -ms-box-flex:  0;
  box-flex:  0;  
  background-color: #141d26;
  padding-top: 30px;
  }
  
  
  .main-maid{
    background: aliceblue;
   -ms-flex: 1;
   -webkit-box-flex: 1;
   -moz-box-flex: 1;
   -ms-box-flex: 1;
   box-flex: 1;  
  }



  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    /* text-align: center;    */
    color: #e8e8e8;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }



  .sidebar a img
  {
    padding:0px 20px;
    vertical-align: middle;
  }
  